<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Capturar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
      <ion-label position="floating">Digite o CEP</ion-label>
      <ion-input [(ngModel)]="cep" maxlength="8" type="text"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="buscarCep()">Buscar</ion-button>

  <div *ngIf="resultado">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Resultado:</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Logradouro: </strong>{{resultado.logradouro}}</p>
        <p><strong>Bairro: </strong>{{resultado.bairro}}</p>
        <p><strong>Cidade: </strong>{{resultado.localidade}}</p>
        <p><strong>Estado: </strong>{{resultado.uf}}</p>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="resultadoPokemon">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ resultadoPokemon.name | titlecase }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img [src]="resultadoPokemon.sprites.front_default" [alt]="resultadoPokemon.name" />
        <p><strong>Altura:</strong> {{ resultadoPokemon.height / 10 }} m</p>
        <p><strong>Peso:</strong> {{ resultadoPokemon.weight / 10 }} kg</p>

        <p><strong>Habilidades:</strong></p>
        <ul>
          <li *ngFor="let habilidade of resultadoPokemon.abilities">
            {{ habilidade.ability.name }}
          </li>
        </ul>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
