.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

ion-card {
  text-align: center;
}

.pagination-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}